@import '../../global/colors.scss';
@import '../../global/mixins.scss';

.container {
	@include display_flex();
	box-sizing: border-box;
	width: 100%;

	label {
		font-size: 14px;
		letter-spacing: 1.25px;
		margin-right: 5px;
		font-weight: bold;
	}

	input {
		flex: 1;
		border-bottom: 1px solid $primary;
	}
}
