@import '../../global/colors.scss';

.idsRing {
	display: inline-block;
	position: relative;
}
.idsRing div {
	position: absolute;
	border: 2.5px solid;
	border-radius: 50%;
	animation: idsRing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border: 2.5px solid $primary;
	border-color: $primary transparent transparent transparent;
}

.idsRing div:nth-child(1) {
	animation-delay: -0.45s;
}

.idsRing div:nth-child(2) {
	animation-delay: -0.3s;
}

.idsRing div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes idsRing {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
