@import '../../global/mixins.scss';

.container {
	@include display_flex($justify-content: space-between);
}

.widgetLeft {
	width: 30%;
	height: 90vh;

	overflow-y: auto;
}

.widgetRight {
	width: 30%;
	height: 40vh;
	align-self: flex-end;
	overflow-y: auto;
}
