@import '../../global/mixins.scss';
@import '../../global/colors.scss';

.container {
	margin: 15px 0px;
	padding: 15px;
}

.header {
	@include display_flex($justify-content: space-between);
	margin-bottom: 15px;
	p:first-child {
		color: $primary;
	}
}
