@mixin display_flex(
	$flex-direction: row,
	$justify-content: flex-start,
	$align_items: flex-start
) {
	display: flex;
	flex-direction: $flex-direction;
	justify-content: $justify-content;
	align-items: $align_items;
}
