@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
input,
small {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

input {
	border: 0px;
}

small {
	align-self: flex-start;
	font-size: 10px;
}
