@import '../../global/mixins.scss';
@import '../../global/colors.scss';

.container {
	padding: 25px 15px;
	@include display_flex($flex-direction: column, $align-items: center);

	small {
		margin-left: 5px;
	}
}

.header {
	width: 100%;
	@include display_flex($justify-content: center);
	margin-bottom: 20px;
	position: relative;

	h3 {
		color: $primary;
	}
}

.headerRight {
	position: absolute;
	right: 25px;
}

.inputLabel {
	padding: 0px 5px;
	margin-bottom: 10px;
}
